.app {
    margin: 20px;
}

.navigation {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.navigation__entry {
    margin-right: 30px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}
